html,
body {
    background-color: rgb(28, 64, 122) !important;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.grid-container {
    display: grid;
    height: 100vh;

    grid-template-columns: 150px 1fr;
    grid-template-rows: 80px 1fr 80px;

    grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer"

}

.header {
    grid-area: header;
    background: #648ca6;
}

.sidenav {
    grid-area: sidenav;
    background: rgb(94,153,206);
    display: flex;
    flex-direction: column;
    color: #F2F2F2;
}

.sidenav__list {
    padding: 0;
    margin-top: 80px;
    list-style-type: none;
}

.sidenav__list-item {
    padding: 20px 20px 20px 40px;
}

.sidenav__list-item:hover {
    background-color: rgba(242, 242, 242, 0.25);
    cursor: pointer;
}

.main {
    background: #737995;
}

.main-header {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: rgb(207,227,248);
    color: #656566;
}

.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    margin: 20px;
    grid-auto-rows: 94px;
    grid-gap: 20px;
}

.overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #CACBCC;
    color: #656566;
}

.main-cards {
    column-count: 2;
    column-gap: 20px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background:rgb(207,227,248);
    margin-bottom: 20px;
    padding: 24px;
    -webkit-column-break-inside: avoid;
    /*   border: 4px solid black; */
    box-sizing: border-box;
}

.footer {
    grid-area: footer;
    background: #648ca6;
}

header,
footer {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

