{% block content %}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.css">
</head>

<body>
    <canvas id="myCharty" width="400" height="400"></canvas>
</body>

<script>

    var ctx = document.getElementById('myCharty').getContext('2d');
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Pos -> Pos', 'Pos -> Neg', 'Pos -> Neut', 'Pos -> Mix', 'Neg -> Pos', 'Neg -> Neg', 'Neg -> Neut', 'Neg -> Mix', 'Neut -> Pos', 'Neut -> Neg', 'Neut - Neut', 'Neut -> Mix', 'Mix -> Pos', 'Mix -> Neg', 'Mix -> Neut', 'Mix -> Mix'],
            datasets: [{
                data: [ {% for value in sentimentChangeRatios.values() %} {{ value*100 }}, {% endfor %} ],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(122, 117, 113, 0.2)',
                    'rgba(242, 123, 19, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(122, 117, 113, 0.2)',
                    'rgba(242, 123, 19, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(122, 117, 113, 0.2)',
                    'rgba(242, 123, 19, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(122, 117, 113, 0.2)',
                    'rgba(242, 123, 19, 0.2)',
                ],
                borderColor: 'rgba(0, 0, 0, 1)',
                borderWidth: 1
            }]
        },
        options: {
            legend : {
                display : false
            }

        }
    });
</script>

{% endblock content %}