{% extends "chartbase.html" %}
{% block content %}
{{ super() }}
<script>
     var mychart = document.getElementById("chart").getContext("2d");

       steps = 1
       max = {{max}}

     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );
</script>

{% endblock content %}