<div>
    <canvas id="sentimentChangeChart" width="525" height="525"></canvas>
</div>

<script>

    var ctxSentimentChange = document.getElementById('sentimentChangeChart').getContext('2d');
    var sentimentChangeBoxChart = new Chart(ctxSentimentChange, {
        type: 'bar',
        data: {
            labels: ['Pos -> Pos', 'Pos -> Neg', 'Pos -> Neut', 'Pos -> Mix', 'Neg -> Pos', 'Neg -> Neg', 'Neg -> Neut', 'Neg -> Mix', 'Neut -> Pos', 'Neut -> Neg', 'Neut - Neut', 'Neut -> Mix', 'Mix -> Pos', 'Mix -> Neg', 'Mix -> Neut', 'Mix -> Mix'],
            datasets: [{
                data: [ {% for value in sentimentChangeRatios.values() %} {{ value*100 }}, {% endfor %} ],
                backgroundColor: [
                    'rgba(122, 196, 53, 0.9)',
                    'rgba(255, 99, 132, 0.9)',
                    'rgba(122, 117, 113, 0.9)',
                    'rgba(242, 131, 34, .9)',
                    'rgba(122, 196, 53, 0.9)',
                    'rgba(255, 99, 132, 0.9)',
                    'rgba(122, 117, 113, 0.9)',
                    'rgba(242, 131, 34, .9)',
                    'rgba(122, 196, 53, 0.9)',
                    'rgba(255, 99, 132, 0.9)',
                    'rgba(122, 117, 113, 0.9)',
                    'rgba(242, 131, 34, .9)',
                    'rgba(122, 196, 53, 0.9)',
                    'rgba(255, 99, 132, 0.9)',
                    'rgba(122, 117, 113, 0.9)',
                    'rgba(242, 131, 34, .9)',
                ],
                borderColor: 'rgba(0, 0, 0, 1)',
                borderWidth: 1
            }]
        },
        options: {
            legend : {
                display : false
            },
            responsive: false,
            maintainAspectRatio: false
        }
    });

</script>