{% block content %}

<head>
  <meta charset="utf-8" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
  <center>
    <h1>{{ title }}</h1>
  </center>
  <center>
    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(82,150,221,0.2)",
          strokeColor: "rgba(255,99,20,1)",
          pointColor: "rgba(146,189,223,1)",
          
          data : [
            {% for item in values %}
               "{{ item*100 }}",
              {% endfor %}
	    ]
          }
        ]
      }

    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;

    </script>
  </center>
</body>
{% endblock content %}