{%extends 'base.html'%}
{%block head%}
{{super()}}
{%endblock%}
{%block content%}
<style>
  .list-group-item.active {
    background-color: #826601 !important;
    border-color: #826601 !important;
  }
</style>
{{super()}}
<div class="grid-container">
  <div class="menu-icon">
    <i class="fas fa-bars header__menu"></i>
  </div>
  <aside class="sidenav">
    <div class="sidenav__close-icon">
      <i class="fas fa-times sidenav__brand-close"></i>
    </div>
    <ul class="sidenav__list">
      <a href="/" style="padding:3em;""><img src=" {{url_for('static', filename='exit.svg')}}"style="width:2em;"></a>
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-dashboard-list" data-toggle="list"
          href="#list-dashboard" role="tab" aria-controls="dashboard">Dashboard</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile"
          role="tab" aria-controls="profile">Profile</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
          href="#list-messages" role="tab" aria-controls="messages">Messages</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
          href="#list-settings" role="tab" aria-controls="settings">Settings</a>
      </div>
    </ul>
  </aside>
  <main class="main">
    <div class="main-header">
      <h1>u/{{name}}</h1>
    </div>
    <div id="dashboard">
      <div class="tab-pane fade show active" id="list-dashboard" role="tabpanel" aria-labelledby="list-dashboard-list"
        style="display:block" active="true">
        <div class="main-cards">
          <div class="card">
            {% with labels=sentimentRatios.keys(), values=sentimentRatios.values(), title='Sentiment Ratios', max=50%}
            {% include "barchart.html" %}
            {% endwith %}
          </div>
          <div class="card">Card</div>
          <div class="card">Card</div>
        </div>
      </div>
    </div>
    <div id="profile">
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"
        style="display: none" active="false">
        <div class="card">Card</div>
      </div>
    </div>
</div>
</main>
</div>
<script>
  var dashboard = $('#list-dashboard')
  var profile = $('#list-profile')
  $("#list-profile-list").click(()=>{
    console.log('test')
    $('#list-dashboard').hide();
    $('#list-profile').show();
  })
  $('#list-dashboard-list').click(()=>{
    $('#list-dashboard').show();
    $('#list-profile').hide();
  })
  //curractive= $('.tab-pane.active')
  //$('.tab-pane.active').show()
  //$('[id^=list-]').click(()=>{
  //    $(curractive).hide();
  //    switchItUp().then(()=>{
  //      curractive=$('.tab-pane.active')
  //      $(curractive).show()
  //      console.log(curractive)
  //    })
  //    $(curractive).show()
  //})
  //async function switchItUp(){
  //  $(curractive).hide();
  //  return new Promise((resolve, reject)=>{
  //    resolve("Done")
  //  })
  //}
</script>
{% endblock  %}