{%extends 'base.html'%}
{%block head%}
{{super()}}
{%endblock%}
{%block content%}
<style>
  .list-group-item.active {
    background-color: #826601 !important;
    border-color: #826601 !important;
  }
</style>
{{super()}}
<div class="grid-container">
  <div class="menu-icon">
    <i class="fas fa-bars header__menu"></i>
  </div>
  <aside class="sidenav">
    <div class="sidenav__close-icon">
      <i class="fas fa-times sidenav__brand-close"></i>
    </div>
    <ul class="sidenav__list">
      <a href="/" style="padding:3em;"><img src=" {{url_for('static', filename='exit.svg')}}"style="width:2em;"></a>
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-dashboard-list" data-toggle="list"
          href="#list-dashboard" role="tab" aria-controls="dashboard">Dashboard</a>

        <a class="list-group-item list-group-item-action" id="list-comments-list" data-toggle="list" href="#list-comments"
          role="tab" aria-controls="comments">Comments</a>

        <a class="list-group-item list-group-item-action" id="list-subreddits-list" data-toggle="list"
          href="#list-subreddits" role="tab" aria-controls="subreddits">Subreddits</a>
      </div>
    </ul>
  </aside>
  <main class="main">
    <div class="main-header">
      <h1>u/{{name}}</h1>
    </div>
    <div class="tab-pane fade show active" id="list-dashboard" role="tabpanel" aria-labelledby="list-dashboard-list"
      style="display:block" active="true">
      {% include "userComponentDashboard.html" %}
    </div>
    <div class="tab-pane fade" id="list-comments" role="tabpanel" aria-labelledby="list-comments-list"
      style="display: none" active="false">
     {% include "userComponentComments.html" %} 
    </div>
    <div class="tab-pane fade" id="list-subreddits" role="tabpanel" aria-labelledby="list-subreddits-list"
      style="display: none" active="false">
     {% include "userComponentSubreddits.html" %} 
    </div>
  </main>
</div>
<script>
  $("#list-comments-list").click(() => {
    $('#list-dashboard').hide();
    $('#list-subreddits').hide();
    $('#list-comments').show();
  })
  $('#list-dashboard-list').click(() => {
    $('#list-dashboard').show();
    $('#list-comments').hide();
    $('#list-subreddits').hide();
  })
  $('#list-subreddits-list').click(() => {
    $('#list-subreddits').show();
    $('#list-dashboard').hide();
    $('#list-comments').hide();
  })
</script>
{% endblock  %}