<div class="main-cards">
    <div class="card">
        {% with data=sentimentRatios.items()%}
        {% include "barchart2.html" %}
        {% endwith %}
    </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-title">Top Subreddits</h5>
                    {% for subreddit in topSubreddits.keys() %}
                    <br>
                    <h5 class="card-text">
                    r/{{subreddit}}
                    </h5>
                    <hr>
                    <hr>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>